@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

:root {
  --color-main: #396aff;
  --bg: #fbfefd;
  --bg2: #dce5ff;
  --main-accent: #e9eefd;
  --main-text: #4b5876;
  --shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg2);
  overflow-x: hidden;
}

#menu-toggle {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
}
.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-brand h2 {
  color: #444;
}

.sidebar-brand h2 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.2rem;
  border-radius: 7px;
  margin: 2rem 0rem;
}

.sidebar-avatar div img {
  border-radius: 50%;
}

.avatar-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar-menu li {
  margin-bottom: 0.5rem;
}

.sidebar-menu a {
  color: var(--main-text);
  display: block;
  padding: 0.7rem 0rem;
}

.sidebar-menu a.active {
  background: var(--main-accent);
  border-radius: 7px;
  padding: 0.7rem;
}

.sidebar-menu a span:first-child {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-main);
}

.sidebar-card {
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: var(--shadow);
}

.sidebar-card > div {
  margin: 0.8rem 0;
}

.sidebar-card div h4 {
  font-size: 1rem;
}

.sidebar-card div p {
  font-size: 0.9rem;
  color: #555;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-main {
  background-color: var(--color-main);
  color: #fff;
}

.main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 1.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.header-title-wrapper {
  display: flex;
}

.header-title-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 1rem;
  font-size: 1.8rem;
}

.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}

.header-title p {
  color: #555;
  font-size: 0.9rem;
}

.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.header-action button {
  padding: 0.5rem 2rem;
}

main {
  padding-top: 2.5rem;
}

.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 2.5rem;
}

.analytic {
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
}

.analytic-info h4 {
  font-weight: 400;
  color: #555;
  font-size: 0.9rem;
}

.analytic-info h1 {
  color: var(--main-text);
  font-weight: 600;
}

.analytic-info h1 small {
  font-size: 0.8rem;
  font-weight: 700;
}

.text-danger {
  color: red;
}

.text-success {
  color: #2ec3a3;
}

.analytic .analytic-icon {
  background: #fff;
  color: #6883db;
}

.analytic-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.8rem;
}
